.filter-card {
    display: flex;
    flex-direction: column;
    gap: 5px;

    max-height: 897px;
    overflow-y: scroll;
    padding: 30px 15px;

    &::-webkit-scrollbar {
        width: 5px;
        border-top: solid 20px #ffffff;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #c1c1c1;
        border-radius: 2.5px;
        opacity: 0.5;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .filter {
        display: flex;
        flex-direction: column;
        gap: 10px;

        width: 390px;
        padding: 10px 35px;

        &:not(.last) {
            border-bottom: solid 3px #f1f4f6;
        }
    }

    .filter__header a {
        display: flex;
        align-items: center;
        justify-content: space-between;

        color: #000000;
        text-decoration: none;

        &:hover {
            fill: blue;
            color: blue;
        }
    }

    .filter__header a.collapsed svg {
        transform: rotate(180deg);
    }

    .filter__header a svg {
        transition-duration: 500ms;
    }

    .filter-card__collapse {
        transition: height 1000ms ease;
    }

    .filter-card__collapse {
        // 날짜
        .daterange-filter-date {
            width: 320px;
            margin-left: auto;
            margin-right: auto;
        }

        .rdrCalendarWrapper * {
            font-size: 11.5px;
        }

        .rdrMonths {
            align-items: center;
        }

        // 지역
        .SVGMap-filter-region {
            width: 320px;
        }

        .SVGMap-filter-region--location {
            stroke: #444444;
            fill: #adadad;
            outline: none;
            cursor: pointer;

            &:hover {
                fill: #666666;
            }
        }

        .selected {
            fill: #777777;
        }

        // FilterList.jsx
        // total width 350px
        .filter__list {
            padding-left: 25px;
            margin-bottom: 10px;

            // total width 330px
        }
    }
}

.list-element--label {
    width: 140px;
    color: #828282;
    text-align: left;

    &:hover {
        color: #000000;
        text-decoration: underline;
    }

    &::before {
        display: inline-block;
        content: '';
        width: 12px;
        height: 12px;
        margin-right: 4px;
        border: 2.5px solid #c2c2c2;
        border-radius: 4px;
    }
}

.filter__list-element {
    display: inline-block;
    width: 50%;
    margin: 4px 0;
}

.selected {
    color: #000000;
    font-weight: bold;

    &::before {
        background: url('../../../images/checked.png') no-repeat;
        background-size: cover;
        width: 19px;
        height: 17px;
        border: none;
    }
}
