.device-details-page {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    margin-left: auto;

    .device-details--packet {
        width: 700px;
    }

    .device-details--device {
        width: 350px;
    }
}
