.display-page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;

    .contents--info {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .info-card-group {
            display: flex;
            flex-direction: row;
            gap: 25px;
            justify-content: space-between;
        }

        .card--list {
            width: 800px;
        }
    }
}
