.login-form {
    display: flex;
    flex-direction: column;
    margin: 0 20px;

    .MuiFormLabel-root,
    .MuiInputBase-input {
        font-size: 20px;
    }

    .login-form__username {
        margin-bottom: 20px;
    }

    .login-form__password {
        margin-bottom: 60px;
    }

    .login-button {
        background-color: #0064fe;
        color: #ffffff;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 15px;
    }
}
