.login-form {
    display: flex;
    flex-direction: column;

    .MuiFormLabel-root,
    .MuiInputBase-input {
        font-size: 20px;
    }

    .login-form__username {
        margin-bottom: 15px;
    }

    .login-form__password {
        margin-bottom: 40px;
    }

    .login-button {
        background-color: #191970;
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        border-radius: 5px;
        height: 35px;
    }
}
