.login__team-name {
    margin-bottom: 20px;
}

.board__title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 8px;
}

.device-details__header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
