.login__team-name {
    margin-bottom: 20px;
}

.board-title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 8px;
}

#detail-modal-title {
    display: inline-block;
    font-size: 25px;
    background-color: #004e66;
    color: #ffffff;
    border-radius: 30px;
    padding: 10px 60px;
    margin-bottom: 20px;
}