.App-header {
    // 상단에 고정
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #040a43;

    .header__team-name,
    .header__user {
        color: #ffffff;
    }

    .header__team-name {
        font-size: 30px;
        font-weight: 750;
        margin-left: 30px;
    }

    .header__user {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 70px;

        .header__profile-image {
            height: 30px;
            margin-right: 12px;
        }

        .header__user-name {
            font-size: 15px;
        }
    }
}
