.device-details--packet {
    display: flex;
    flex-direction: column;

    .packet__list {
        border-top: solid 1px #dddddd;
        padding: 7px 0 7px 15px;
        cursor: pointer;

        &:hover {
            background-color: #cbd3ea;
            color: #040a43;
        }
    }

    .packet__details {
        background-color: #eeeeee;

        pre {
            font-size: 15px;
            text-align: left;
        }
    }

    .open {
        padding: 15px;
    }
}
