.details--packet-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .packet-header__back {
        height: 28px;
        margin-bottom: 8px;
        margin-right: 27px;

        &:hover {
            cursor: pointer;
        }
    }
}

.details--packet {
    display: table;
    text-align: center;
    min-height: 690px;

    .row__item {
        display: table-cell;
    }

    .list--header {
        border-top: solid 1px #dddddd;
        border-bottom: solid 2px #dddddd;
    }

    .list--body {
        border-bottom: solid 1px #dddddd;
    }

    .packet__list {
        padding: 10px 0;
        cursor: pointer;

        .row__item:nth-child(1) {
            width: 70px;
        }

        .row__item:nth-child(2) {
            width: 200px;
        }

        .row__item:nth-child(3) {
            width: 700px;
        }

        &:hover {
            background-color: #cbd3ea;
            color: #040a43;
        }
    }

    .packet__details {
        background-color: #eeeeee;

        pre {
            font-size: 15px;
            text-align: left;
        }
    }

    .open {
        padding: 15px;
    }
}
