.card {
    .device-details--device {
        display: table;
        border-collapse: collapse;

        .table-row {
            display: table-row;
            border-top: solid 1px #dddddd;
        }

        .device__field,
        .device__contents {
            display: table-cell;
            padding: 10px;
        }

        .device__field {
            border-right: solid 2px #dddddd;
            width: 150px;
        }

        .device__contents {
            width: 200px;
        }
    }
}
