.board__list--device {
    .list__row {
        li:nth-child(1) {
            width: 70px;
        }
        li:nth-child(2) {
            width: 200px;
        }
        li:nth-child(3) {
            width: 80px;
        }
        li:nth-child(4) {
            width: 150px;
        }
        li:nth-child(5) {
            width: 150px;
        }
        li:nth-child(6) {
            width: 150px;
        }
    }
}
