.bdNav {
    display: flex;
    justify-content: space-between;

    .pagination {
        display: inline-block;
    }

    .form-search {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        // toggle buttons
        .MuiToggleButton-root.Mui-selected {
            font-weight: bolder;
    
            .MuiChip-root {
                background-color: #a0a0a0;
            }
        }
    
        // prevent material-ui default background-color
        .MuiToggleButton-root:hover,
        .MuiIconButton-root:hover,
        .MuiToggleButton-root.Mui-selected,
        .MuiToggleButton-root.Mui-selected:hover {
            background-color: #ffffff;   
        }

        // outlined input
        .MuiOutlinedInput-adornedEnd {
            padding-right: 0;
        }

        .outlinedInput-search input {
            width: 150px;
            height: 40px;
            padding: 0 0 0 10px;
        }

        // inputadornment
        .MuiInputAdornment-positionEnd {
            margin-left: 0;
        }

        .MuiIconButton-root {
            width: 40px;
            height: 40px;
        }
    }
}