.bdNav {
    display: flex;
    justify-content: space-between;

    .pageBtns {
        display: inline-block;
    }

    .search-form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .searchInput input {
            width: 150px;
            height: 40px;
            padding: 0 10px;
        }

        .searchInput label {
            width: 150px;
            height: 40px;
            font-size: 13px;
            top: -5px;
        }

        .searchInput label[data-shrink="true"] {
            top: 0;
        }

        .locationChk, .deviceChk {
            display: inline-block;
            margin-left: 15px;
        }

        input {
            margin-right: 5px;
        }
    }

    .MuiToggleButton-root:hover {
        background-color: #ffffff;
    }

    .MuiToggleButton-root.Mui-selected {
        background-color: #ffffff;
        font-weight: bolder;

        .MuiChip-root {
            background-color: #a0a0a0;
        }

        &:hover {
            background-color: #ffffff;
        }
    }
}