#loginForm {
    width: 279px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: #f6f8fa;
    border: 1px solid #eaecef;
    border-radius: 5px;
    padding: 20px;
}
