.search {
    // toggle buttons
    .MuiToggleButton-root.Mui-selected {
        font-weight: bolder;

        .MuiChip-root {
            background-color: #a0a0a0;
        }
    }

    // prevent material-ui default background-color
    .MuiToggleButton-root:hover,
    .MuiIconButton-root:hover,
    .MuiToggleButton-root.Mui-selected,
    .MuiToggleButton-root.Mui-selected:hover {
        background-color: #ffffff;   
    }
}

.search-filter {
    padding: 20px;

    .search-filter-dl {
        display: table;
        border-bottom: 2px solid #dddddd;

        dt {
            display: table-cell;
            width: 100px;
        }

        dd {
            display: table-cell;
            width: 800px;
        }
    }

    .last {
        border-bottom: none;
    }

    // 날짜
    .daterange-search-date {
        width: 310px;
    }
    .rdrCalendarWrapper {
        font-size: 11px;
    }
}