.board__list--packet {
    .list__row {
        li:nth-child(1) {
            width: 70px;
        }
        li:nth-child(2) {
            width: 200px;
        }
        li:nth-child(3) {
            width: 80px;
        }
        li:nth-child(4) {
            width: 150px;
        }
        li:nth-child(5) {
            width: 150px;
        }
        li:nth-child(6) {
            width: 150px;
        }
    }

    .notRead {
        background-color: #f5f7f7;
        
        * {
            font-weight: 500;
        }
    }

    .list__detail {
        background-color: #eeeeee;

        pre {
            font-size: 15px;
            text-align: left;
        }
    }

    .open {
        margin-top: 2px;
        padding: 10px;
    }
}
