.board__list {
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 15px;

    .list--header,
    .list--body,
    .list__row {
        width: 100%;
    }

    .list--header {
        font-weight: 900;
    }

    .list--body {
        margin-top: 5px;

        .list__row {
            background-color: #dddddd;
        }
    }

    .list__row {
        padding: 10px 0;
    }

    .list__row__item {
        display: table-cell;
    }
}
