.header {
    .teamName {
        display: inline-block;
        font-size: 80px;
        color: #004e66;
        margin-left: 326.2px;
    }

    .userInfo {
        float: right;
        background-color: beige;
        margin-right: 30px;
    }
}