.App-main__sidebar {
    display: inline-block;
    position: fixed;
    left: 0;
    top: 60px;
    height: 100%;
    width: 200px;
    z-index: 1000;
    background-color: #ffffff;

    .sidebar__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        width: 200px;

        .menu__button--nav {
            color: #666666;
            font-size: 20px;
            font-weight: 600;
            padding: 8px;
            width: 90%;
            border-radius: 12px;

            &:hover {
                background-color: #cbd3ea;
                color: #040a43;
            }
        }

        .menu__button--current {
            background-color: #dbe3fa;
            color: #040a43;
        }
    }
}
